<div class="well">

<h2 class="center">Mettre à jour un Nouvel Article</h2>

<%= render 'form' %>

	<strong>
		<div class="col-sm-offset-4 col-sm-4">
			[<%= link_to 'Voir l\'article', @article %> | <%= link_to 'Voir la liste des articles', articles_path %> ]
		</div>
	</strong>


	

</div>