<div class="well">

<h2 class="center">Créer un Nouvel Article</h2>

<%= render 'form' %>

	<strong>
		<div class="col-sm-offset-4 col-sm-4">
			[ <%= link_to 'Retour sur la liste des articles', articles_path %> ]
		</div>
	</strong>


	

</div>

